html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Kanit", sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  background: url(../images/hero-bg.svg);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: center -230px;
}

a {
  opacity: 1;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  color: #ff7328;
}

a:hover,
a:focus {
  text-decoration: none;
  opacity: 0.7;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  color: #ff7328;
  text-transform: uppercase;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #ff7328;
  text-transform: uppercase;
  margin-bottom: 0;
}
h5 {
  color: #656565;
}

.box-inner {
  margin-left: 0;
  padding: 30px 50px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}

.custom.btn {
  width: 220px;
  margin: 0 auto;
  font-size: 22px;
  font-weight: 600;
  padding: 5px 30px;
  background: #ff7328;
  color: #ffffff;
  border-radius: 10px;
}

.custom.btn:hover {
  opacity: 0.7;
}

.main-heading {
  color: #082465;
  font-weight: bold;
  text-align: center;
}

/*header section*/

.header-section {
  padding: 10px 15px 0;
}

nav.navbar.navbar-expand-lg {
  padding: 0;
}

.custom-nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px 28px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.custom-nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  text-decoration: underline;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.top-container {
  position: relative;
  padding-bottom: 135px;
}

.navbar-brand img {
  width: 71px;
  height: auto;
  margin-right: 7px;
}

.custom-nav-container .nav-search-btn {
  background-image: url(../images/search-icon-mobile.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.custom-nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom-nav-container .navbar-toggler {
  outline: none;
  padding: 0;
  margin-top: -20px;
}

.custom-nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-top: -5px;
}

.offcanvas-header,
.nav-icon .account {
  display: none;
}

.nav-icon li {
  display: inline-block;
  padding: 0 20px;
}

.nav-icon li:last-child {
  position: relative;
}

.nav-icon li:last-child::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  background: #ffffff;
  width: 2px;
  height: 35px;
}

.nav-icon li a {
  display: block;
  text-align: center;
}

.nav-icon li a i {
  font-size: 24px;
}

.nav-icon li:first-child a i {
  font-size: 28px;
}

.nav-icon li:last-child a .ico-user {
  background: #ffffff;
  color: #ff8e00;
  border-radius: 99px;
  width: 40px;
  height: 40px;
  padding: 6px;
}

/*end header section*/

/* hero section */

.hero-container {
  display: flex;
  padding-top: 20px;
}

.hero-detail-box {
  width: 46%;
}

.hero-img-container {
  width: 54%;
}

.hero-img-container img {
  margin-left: -45px;
}

.hero-detail-box {
  color: #fefeff;
  padding-top: 120px;
}

.hero-detail-box h1,
.hero-detail-box h3 {
  font-size: 20px;
  color: #999999;
  line-height: 1.3;
  font-weight: 500;
}

.hero-detail-box h2 {
  font-size: 40px;
  color: #272727;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-detail-box p {
  margin-top: 20px;
  margin-bottom: 35px;
}

/* end hero section */

/* categories section */
.categories-section {
  padding: 60px 0 50px;
}

.categories-section .card {
  background: #ff7c00;
  border-radius: 20px;
  padding: 60px 0 30px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}

.categories-section .card-img-top {
  margin-top: -200px;
  margin-left: -10px;
  width: 290px;
  height: auto;
}

.categories-section .card-img-top img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.categories-section .card-body {
  padding: 10px 0 0;
}

.categories-section .card-title {
  margin-bottom: 0;
}

.categories-section .card-title a {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

/* end categories section */

/* counter section */
.counter-section {
  padding: 40px 0 0px;
}

.counter-section .col-md-6:first-child {
  position: relative;
}

.counter-section .col-md-6:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 5px;
  height: 100%;
  background: #ff7328;
}

.counter-section .counter h2 {
  font-size: 42px;
  font-weight: bold;
  color: #363636;
  text-transform: uppercase;
  margin-bottom: 0;
}

.counter-section .counter h3,
.counter-section .counter p {
  font-size: 24px;
  color: #1a1a1a;
  margin-bottom: 0;
}

.counter-section .counter h4 {
  font-size: 55px;
  color: #ff7328;
  font-weight: bold;
}

.counter-section .counter p {
  margin-bottom: 0;
}

/* end counter section */

/* feature section */
.feature-section {
  padding: 80px 0;
  position: relative;
}

.feature-section::before {
  content: "";
  position: absolute;
  top: -12%;
  left: 0;
  background: url(/images/wyw-bg.png) right top no-repeat;
  background-size: cover;
  width: 510px;
  height: 890px;
  z-index: 0;
}

.feature-section.type01 {
  padding-top: 10px;
}

.feature-section.type01::before {
  content: none;
}

.feature-section.type01::after {
  content: "";
  position: absolute;
  top: -5%;
  right: 0;
  background: url(/images/wys-bg.png) left top no-repeat;
  background-size: cover;
  width: 500px;
  height: 750px;
  z-index: 0;
}

.feature-section .box-intro {
  position: relative;
  z-index: 1;
  margin-left: 35%;
}

.feature-section .box-intro h2 {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff7328;
}

.feature-section .box-intro h4 {
  text-align: left;
  font-size: 20px;
  margin-bottom: 30px;
}

.feature-section.type01 .box-intro h2 {
  text-align: left;
}

.feature-section.type01 .box-intro h4 {
  margin-left: 0;
}

.feature-section.type01 .box-inner {
  margin-right: 200px;
  margin-left: 0;
}

.feature-section .box-inner {
  position: relative;
  padding: 50px 30px 20px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  margin-left: 200px;
  z-index: 1;
}

.feature-section .box-inner::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -250px;
  background: url(/images/wyw-logo.png) left top no-repeat;
  background-size: contain;
  width: 193px;
  height: 285px;
  z-index: 0;
}

.feature-section.type01 .box-inner::after {
  content: "";
  position: absolute;
  top: 120px;
  right: -250px;
  background: url(/images/wys-logo.png) left top no-repeat;
  background-size: contain;
  width: 193px;
  height: 285px;
  z-index: 0;
}

.feature-section .product-list .card .card-title {
  margin-bottom: 10px;
}

.product-list .card .card-title a {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #656565;
}

.product-list .card {
  border: 0;
  text-align: center;
}

.product-list .card .card-img-top {
  width: 230px;
  height: 230px;
  margin: 0 auto;
}

.product-list .card .card-img-top img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.product-list .card .card-body {
  text-align: center;
  padding: 10px;
}

.product-list .card .card-title {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #656565;
  margin: 10px 0;
}

.product-list .card .btn {
  background: #ff7328;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 10px;
  width: 100%;
}

.product-list .card .btn i {
  padding-left: 20px;
}

.banner-carousel .item {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}

/* end feature section */

/* New section */
.new-section {
  padding: 50px 0 80px;
}

.title-divider {
  padding-bottom: 30px;
}

.title-divider h2 {
  font-size: 42px;
  position: relative;
  color: #363636;
  text-align: center;
}

.title-divider h2::before,
.title-divider h2::after {
  content: "";
  position: absolute;
  top: 25px;
  background-color: #363636;
  width: 270px;
  height: 5px;
}

.title-divider h2::before {
  left: 0;
}

.title-divider h2::after {
  right: 0;
}

.box-price {
  margin-bottom: 20px;
}

.product-list .box-price .price {
  font-size: 25px;
  font-weight: bold;
  color: #ff7328;
  text-align: left;
}

.product-list .box-price .sale {
  font-size: 11px;
  color: #656565;
  padding: 10px 0 0;
  text-align: right;
}

.product-list .box-price .sale span {
  color: #c1c1c1;
  text-decoration: line-through;
  padding-right: 8px;
}

/* end New section */

/*Custom Owl Nav*/
.owl-prev {
  width: 24px;
  height: 48px;
  position: absolute;
  top: 36%;
  left: -10px;
  margin-left: 0px;
  display: block !important;
}

.owl-next {
  width: 24px;
  height: 48px;
  position: absolute;
  top: 36%;
  right: -10px;
  display: block !important;
}

.owl-prev i,
.owl-next i {
  transform: scale(3);
  color: #ff7328;
}

.owl-prev:hover,
.owl-next:hover {
  opacity: 0.7;
}

.owl-prev:focus,
.owl-next:focus {
  outline: none;
}

.product .owl-prev,
.product .owl-next {
  top: 30%;
}

.product .owl-prev i,
.product .owl-next i {
  transform: scale(3);
  color: #363636;
}

/* footer section*/

.footer-section {
  background: rgb(255, 186, 0);
  background: linear-gradient(
    245deg,
    rgba(255, 186, 0, 1) 0%,
    rgba(255, 91, 0, 1) 100%
  );
  padding: 50px 0;
}

.footer-section .container {
  width: 780px;
}

.footer-social {
  padding: 10px 0;
}

.footer-section .col-md-6:first-child {
  position: relative;
}

.footer-section .col-md-6:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 2px;
  height: 100%;
  background: #ffffff;
}

.footer-social h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.footer-social ul {
  text-align: center;
}

.footer-social ul li {
  display: inline-block;
}

.footer-social ul li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 99px;
}

.footer-social ul li a i {
  font-size: 20px;
}

.footer-link {
  margin-top: 40px;
}

.footer-link h4 {
  color: #ffffff;
  font-size: 19px;
}

.footer-link ul li a {
  color: #ffffff;
  font-size: 13px;
}

.btn-messager {
  float: right;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 999;
}

.btn-messager a {
  display: block;
  width: 70px;
  height: 70px;
  background: #ffffff;
  padding: 10px;
  border-radius: 99px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}

.btn-messager a i {
  font-size: 50px;
  color: #ff7328;
}

/* end footer section*/

/*Product Page*/
#product-page {
  padding-top: 130px;
}

.product-intro {
  text-align: center;
  width: 820px;
  margin: 0 auto;
}
.product-intro h2 {
  font-size: 42px;
}
.product-intro h3 {
  font-size: 20px;
  color: #656565;
  line-height: 1.3;
  font-weight: 500;
  margin-top: 10px;
}

.product-intro .row {
  padding-top: 20%;
}

.categories-section .product-intro .card-img-top {
  margin-top: -125px;
  margin-left: 0;
  width: 100%;
  height: auto;
}

.categories-section .product-intro .card {
  padding: 0 0 30px;
}

#product-page .new-section {
  padding: 30px 0;
}

.banner-categorires {
  padding: 30px 0 60px;
}

.box-banner .img-banner {
  border: 1px solid #ff7328;
  border-radius: 20px;
  padding-top: 28px;
  overflow: hidden;
}

/* Product Detail Page*/
.single-product {
  padding-top: 60px;
}

.single-product .row {
  margin: 0;
}

.single-product .product-detail {
  background: #ffffff;
  padding: 30px 20px 0px 10px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  z-index: 1;
}

.product-detail .gallery .flexslider {
  margin: 0 0 10px;
  background: transparent;
  border: 0;
}

.product-detail .gallery .flex-viewport {
  width: 460px;
  height: 315px;
  min-height: 315px;
  background: #ffffff;
  padding: 30px 30px 10px;
  margin: 0 40px 0 15px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  border: 0;
}

.gallery .flexslider .slides img {
  width: auto;
  height: 100%;
  margin: 0 auto;
  border: 0;
}

.gallery .flex-control-thumbs {
  padding: 10px 15px 30px;
}

.gallery .flex-control-thumbs li {
  width: 30.2%;
  height: 132px;
  padding: 8px;
  border-radius: 20px;
  margin: 0px 20px 0 0;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.16);
}

.flex-control-thumbs li:last-child {
  margin: 0;
}

.gallery .flex-control-thumbs img {
  height: auto;
  width: auto;
  height: 100%;
  margin: 0 auto;
  border: 0;
}

.product-detail .info h2,
.h2-title {
  font-size: 32px;
  font-weight: 600;
}

.product-detail .info p {
  color: #656565;
  font-size: 18px;
}

.single-product .product-detail .info .choose {
  margin-bottom: 70px;
}

.single-product .product-detail .info h6 {
  font-weight: 600;
  color: #4b4b4b;
  margin-top: 30px;
}

.single-product .product-detail .info .choose ul li {
  display: inline-block;
  margin: 0 0px 5px 0;
}

.single-product .product-detail .info .choose ul li a {
  display: block;
  font-size: 14px;
  padding: 1px 14px;
  border: 2px solid #ff7328;
  border-radius: 5px;
}

.single-product .product-detail .info .choose ul li a:hover,
.single-product .product-detail .info .choose ul li a.active {
  background: #ff7328;
  color: #ffffff;
  opacity: 1;
}

.qty .input-group {
  width: 118px;
  height: 29px;
}

.qty button {
  background: #ff7328;
  color: #ffffff;
}

#minus-btn {
  border-radius: 5px 0 0 5px;
}

#plus-btn {
  border-radius: 0px 5px 5px 0px;
}

.qty #qty_input {
  border: 2px solid #ff7328;
  text-align: center;
  background: #ffffff;
  padding: 2px 5px 2px 15px;
}

.qty button i {
  font-size: 11px;
}

.btn-shop a {
  display: block;
  background: #ff7328;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 10px;
  width: 300px;
  margin-top: 30px;
  text-align: center;
}

.box-product li {
  margin-bottom: 20px;
}

.box-product .card {
  padding: 20px 10px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
  border: 0;
}

.box-product .card .card-img-top {
  text-align: center;
  margin-bottom: 10px;
}

.box-product .card .card-img-top img {
  width: 28%;
  height: auto;
}

.box-product .card .card-body {
  border: 0;
  padding: 0;
}

.box-product .card .card-title {
  margin-bottom: 0;
}

.box-product .card .card-title a {
  font-size: 16px;
  font-weight: 600;
  color: #656565;
}

.box-product .card .price {
  font-size: 16px;
  font-weight: 600;
  color: #ff7328;
}

.relate-product {
  padding: 30px 0;
}

.relate-product .box-product {
  overflow: hidden;
  padding: 15px;
  margin-left: -15px;
}

.relate-product .box-product li {
  float: left;
  width: 18.4%;
  margin-right: 2%;
  margin-bottom: 0;
}

.relate-product .box-product li:last-child {
  margin-right: 0;
}

.relate-product .box-product .card {
  padding: 15px;
}

.relate-product .box-product .card .card-img-top {
  width: 110px;
  height: 110px;
  margin: 0 auto 10px;
}

.relate-product .box-product .card-img-top img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

/*category-page*/

#category-page .feature-section::before,
#category-page .feature-section .box-inner::before {
  content: "";
  position: relative;
  top: 0;
}

#category-page .feature-section {
  padding: 0;
}

#category-page .feature-section .box-inner {
  margin-left: 0;
  padding: 30px 50px 10px;
}

#category-page .feature-section h2 {
  margin-bottom: 40px;
}

#category-page .box-inner .product-list {
  width: 800px;
  margin: 0 auto;
}

#category-page .owl-prev {
  left: -10%;
}

#category-page .owl-next {
  right: -10%;
}

#category-page .product-list .list-box {
  overflow: hidden;
  width: 100%;
}

#category-page .product-list .list-box li {
  float: left;
  width: 22.75%;
  margin-right: 3%;
  margin-bottom: 40px;
}

#category-page .product-list .list-box li:nth-child(4n + 0) {
  margin: 0;
}

.load-more {
  padding: 40px 0 0;
  text-align: center;
}

.load-more a {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  padding: 5px 40px;
  border-radius: 10px;
  border: 4px solid #ff7328;
}

.load-more a:hover {
  background: #ff7328;
  color: #ffffff;
  opacity: 1;
}

/*Order*/
.checkbox label {
  margin: 5px 0 0;
}

.checkbox label:after {
  content: "";
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #707070;
  border-radius: 5px;
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 30px;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: 18px;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr {
  opacity: 0.5;
}

.order-section {
  padding: 40px 0;
}

.order-section .order-box {
  margin-bottom: 20px;
}

.order-section .order-box {
  padding: 20px 30px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
}

.order-section .order-box h6 {
  margin-bottom: 0px;
  font-size: 18px;
  color: #464646;
  line-height: 1.5;
}

.order-section .order-box p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}

.order-box .order-img {
  width: 116px;
  height: 116px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
  text-align: center;
}

.order-box .order-img img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.order-box .qty .input-group {
  width: 118px;
  height: 35px;
  margin: 0 auto;
}

.order-box #qty_input {
  background: #ffffff;
  padding: 0 5px 0 15px;
  font-size: 18px;
  height: 35px;
}

.order-box .order-total p {
  margin-bottom: 0;
  color: #656565;
  text-align: right;
}

.order-box .order-total p span {
  font-size: 34px;
  font-weight: 600;
  color: #ff7328;
  padding-left: 10px;
}

.order-box .order-total .btn {
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding: 5px 30px;
  background: #ff7328;
  color: #ffffff;
  border-radius: 10px;
}

/* Order Address */

#address-page {
  padding: 40px 0 60px;
}

#address-page h3 {
  font-size: 18px;
  color: #656565;
}

.custom-form {
  margin-top: 30px;
}

.custom-form .form-control {
  background: #f2f2f2;
  border: 0;
  padding: 5px 20px;
  height: 49px;
  line-height: 49px;
}

.custom-form textarea.form-control {
  height: 159px;
}

.custom-form .form-control::placeholder {
  color: #b1b1b1;
}

/**Payment */
#payment-page {
  padding: 40px 0 60px;
}

.box-payment .first {
  background: #ff9400;
  padding: 30px 50px 30px 30px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}

.box-payment .last {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  margin-left: -10px;
}

.title-total {
  overflow: hidden;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
}

.title-total h3 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 0;
}

.box-payment .total-detail {
  margin-bottom: 20px;
}

.box-payment .total-detail .product-img {
  width: 116px;
  height: 116px;
  background: #ffffff;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
}

.box-payment .total-detail .product-img img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.box-payment .total-detail .info h4,
.box-payment .total-detail .info .price {
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 0;
}

.box-payment .total-detail .info .qty {
  color: #ffffffb7;
  font-weight: 500;
  font-size: 20px;
}

.box-payment .address {
  margin-top: 40%;
}

.box-payment .address p {
  color: #ffffff;
  margin-bottom: 0;
}

.box-pay .nav-tabs {
  width: 100%;
  border: 1px solid #ff7328;
  border-radius: 5px;
  margin-top: 20px;
}

.box-pay .nav-tabs li {
  width: 50%;
}

.box-pay .nav-tabs li a {
  display: block;
  padding: 10px;
  color: #ff7328;
  text-align: center;
}

.box-pay .nav-tabs li.active a,
.box-pay .nav-tabs li a:hover {
  background: #ff7328;
  color: #ffffff;
  opacity: 1;
}

.bank-info {
  overflow: hidden;
  margin: 20px 0;
}

.bank-info .logo {
  float: left;
  width: 12%;
}

.bank-info .detail {
  float: right;
  width: 88%;
}

.bank-info .detail p {
  margin-bottom: 5px;
}

.attach-file button {
  background: #f2f2f2;
  padding: 10px 28px;
}

.attach-file button:hover {
  opacity: 0.7;
}

.attach-file h3 {
  font-size: 18px;
  color: #ff7328;
}

/**contact-page */

#contact-page {
  padding: 60px 0;
}

#contact-page .logo-bottom {
  padding: 60px 100px 20px;
}

#contact-page .col-md-5 .box-inner {
  box-shadow: none;
  background: none;
  padding: 30px;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.list-contact li {
  margin-bottom: 8px;
}

.list-contact a {
  overflow: hidden;
  display: block;
}

.list-contact .icon {
  float: left;
  width: 5%;
}

.list-contact p {
  float: right;
  width: 95%;
  margin-bottom: 0;
}

.list-contact a p {
  color: #656565;
  font-size: 18px;
  line-height: 1.3;
}

.list-contact a i {
  color: #656565;
}

/*myorder-page*/

#myorder-page {
  padding: 60px 0;
}
#myorder-page .customer-detail .col-md-7 {
  -ms-flex: 0 0 54.333333%;
  flex: 0 0 54.333333%;
  max-width: 54.333333%;
}
#myorder-page .customer-detail .col-md-5,
#myorder-page .customer-detail .col-md-7 {
  padding: 30px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  margin-left: 15px;
  margin-bottom: 30px;
}

#myorder-page .title {
  padding-bottom: 20px;
  border-bottom: 2px solid #ff7328;
  margin-bottom: 20px;
}

#myorder-page .title span a {
  font-size: 18px;
  line-height: 1.3;
  color: #656565;
  font-weight: 500;
  padding-left: 10px;
  border-left: 2px solid #707070;
}
#myorder-page .customer-detail p {
  margin-bottom: 0;
}

.latest-order {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}
.latest-order h2 {
  padding: 30px;
}
.table-order {
  padding-bottom: 10px;
}
.table-order table {
  width: 100%;
}
.table-order table th {
  background: #ff7328;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.table-order table th,
.table-order table td {
  padding: 20px;
  text-align: center;
}
.table-order table td {
  padding: 5px 20px;
}
.list-order-img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border: 1px solid #656565;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
.list-order-img img {
  width: auto;
  height: 100%;
}
.box-order {
  overflow: hidden;
}
.box-order .list-order-img {
  float: left;
}
.latest-order .box-order h2 {
  padding: 0;
}
.latest-order .box-order table {
  width: 100%;
}
.latest-order .box-order table td {
  padding: 10px;
  vertical-align: top;
}
.latest-order .box-order table td p {
  margin-bottom: 0;
}
.latest-order .box-order table td p.price {
  font-size: 22px;
}
.latest-order .box-order table td.date {
  text-align: right;
}
