html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Kanit", sans-serif;
  color: #000000;
  font-weight: 400;
  font-weight: 16px;
}

a {
  opacity: 1;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

a:hover,
a:focus {
  text-decoration: none;
  opacity: 0.7;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.hero_section .call_to-btn {
  padding: 12px 35px;
}

.call_to-btn img {
  width: 18px;
  margin-left: 10px;
}

.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(-7px);
}

.main-heading {
  color: #082465;
  font-weight: bold;
  text-align: center;
}

/*header section*/

.header_section {
  padding-top: 10px;
}

nav.navbar.navbar-expand-lg {
  padding: 10px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px 30px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #232323;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.top_container {
  height: 700px;
  position: relative;
  background: url(../images/hero-bg.svg);
  background-size: cover;
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: center -200px;
}

/* .top_container.sub_pages::before {
  background-size: 400px 200px;
  background-position: top left;
}

.top_container.sub_pages {
  height: 35vh;
}

.top_container.sub_page {
  height: auto;
} */

.navbar-brand img {
  width: 71px;
  height: auto;
  margin-right: 7px;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon-mobile.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

/*end header section*/

/* hero section */

.hero-container {
  display: flex;
  padding-top: 20px;
}

.hero_detail-box {
  width: 46%;
}

.hero_img-container {
  width: 54%;
}

.hero_img-container img {
  margin-left: -45px;
}

.hero_detail-box {
  color: #fefeff;
  padding-top: 120px;
}

.hero_detail-box h1,
.hero_detail-box h3 {
  font-size: 20px;
  color: #999999;
  line-height: 1.3;
  font-weight: 500;
}

.hero_detail-box h2 {
  font-size: 40px;
  color: #272727;
  font-weight: 600;
}

.hero_detail-box p {
  margin-top: 20px;
  margin-bottom: 35px;
}

/* end hero section */


/* categories section */
.categories_section {
  padding: 60px 0 50px;
}

.categories_section .card {
  background: #FF7C00;
  border-radius: 20px;
  padding: 60px 0 30px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}

.categories_section .card-img-top {
  margin-top: -200px;
  margin-left: -10px;
  width: 290px;
  height: auto;
}

.categories_section .card-body {
  padding: 10px 0 0;
}

.categories_section .card-title {
  margin-bottom: 0;
}

.categories_section .card-title a {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

/* end categories section */

/* counter section */
.counter_section {
  padding: 40px 0 80px;
}

.counter_section .col-md-6:first-child {
  position: relative;
}

.counter_section .col-md-6:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 5px;
  height: 100%;
  background: #FF7328;
}

.counter_section .counter h2 {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
}

.counter_section .counter h3,
.counter_section .counter p {
  font-size: 24px;
  color: #1A1A1A;
}

.counter_section .counter h4 {
  font-size: 55px;
  color: #FF7328;
  font-weight: bold;
}

.counter_section .counter p {
  margin-bottom: 0;
}

/* end counter section */



/* footer section*/

.footer_section {
  background: rgb(255, 186, 0);
  background: linear-gradient(245deg,
      rgba(255, 186, 0, 1) 0%,
      rgba(255, 91, 0, 1) 100%);
  padding: 50px 0;
}

.footer_section .container {
  width: 780px;
}

.footer_social {
  padding: 10px 0;
}

.footer_section .col-md-6:first-child {
  position: relative;
}

.footer_section .col-md-6:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 2px;
  height: 100%;
  background: #ffffff;
}

.footer_social h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.footer_social ul {
  text-align: center;
}

.footer_social ul li {
  display: inline-block;
}

.footer_social ul li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 99px;
}

.footer_social ul li a i {
  font-size: 20px;
}

.footer_link {
  margin-top: 40px;
}

.footer_link h4 {
  color: #ffffff;
  font-size: 19px;
}

.footer_link ul li a {
  color: #ffffff;
  font-size: 13px;
}

/* end footer section*/