html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Kanit", sans-serif;
  color: #000000;
  font-weight: 400;
  font-weight: 16px;
  background: url(../images/hero-bg.svg);
  background-size: 125%;
  background-repeat: no-repeat;
  background-position: center -260px;
}

a {
  opacity: 1;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}

a:hover,
a:focus {
  text-decoration: none;
  opacity: 0.7;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.hero-section .call-to-btn {
  padding: 12px 35px;
}

.call-to-btn img {
  width: 18px;
  margin-left: 10px;
}

.btn-on-hover {
  transition: all 0.3s ease 0s;
}

.call-to-btn:hover,
.btn-on-hover:hover {
  color: #fff;
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(-7px);
}

.main-heading {
  color: #082465;
  font-weight: bold;
  text-align: center;
}

/*header section*/

.header-section {
  padding: 10px 15px 0;
}

nav.navbar.navbar-expand-lg {
  padding: 0;
}

.custom-nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 5px 28px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.custom-nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #232323;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.top-container {
  height: 700px;
  position: relative;
}

/* .top-container.sub-pages::before {
  background-size: 400px 200px;
  background-position: top left;
}

.top-container.sub-pages {
  height: 35vh;
}

.top-container.sub-page {
  height: auto;
} */

.navbar-brand img {
  width: 71px;
  height: auto;
  margin-right: 7px;
}

.custom-nav-container .nav-search-btn {
  background-image: url(../images/search-icon-mobile.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.custom-nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom-nav-container .navbar-toggler {
  outline: none;
  padding: 0;
  margin-top: -20px;
}

.custom-nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: cover;
  width: 50px;
  height: 50px;
}

.offcanvas-header,
.nav-icon .account {
  display: none;
}
.nav-icon li {
  display: inline-block;
  padding: 0 20px;
}
.nav-icon li:last-child {
  position: relative;
}
.nav-icon li:last-child::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  background: #ffffff;
  width: 2px;
  height: 35px;
}
.nav-icon li a {
  display: block;
  text-align: center;
}
.nav-icon li a i {
  font-size: 24px;
}
.nav-icon li:first-child a i {
  font-size: 28px;
}
.nav-icon li:last-child a .ico-user {
  background: #ffffff;
  color: #ff8e00;
  border-radius: 99px;
  width: 40px;
  height: 40px;
  padding: 6px;
}

/*end header section*/

/* hero section */

.hero-container {
  display: flex;
  padding-top: 20px;
}

.hero-detail-box {
  width: 46%;
}

.hero-img-container {
  width: 54%;
}

.hero-img-container img {
  margin-left: -45px;
}

.hero-detail-box {
  color: #fefeff;
  padding-top: 120px;
}

.hero-detail-box h1,
.hero-detail-box h3 {
  font-size: 20px;
  color: #999999;
  line-height: 1.3;
  font-weight: 500;
}

.hero-detail-box h2 {
  font-size: 40px;
  color: #272727;
  font-weight: 600;
}

.hero-detail-box p {
  margin-top: 20px;
  margin-bottom: 35px;
}

/* end hero section */

/* categories section */
.categories-section {
  padding: 60px 0 50px;
}

.categories-section .card {
  background: #ff7c00;
  border-radius: 20px;
  padding: 60px 0 30px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
}

.categories-section .card-img-top {
  margin-top: -200px;
  margin-left: -10px;
  width: 290px;
  height: auto;
}

.categories-section .card-body {
  padding: 10px 0 0;
}

.categories-section .card-title {
  margin-bottom: 0;
}

.categories-section .card-title a {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

/* end categories section */

/* counter section */
.counter-section {
  padding: 40px 0 0px;
}

.counter-section .col-md-6:first-child {
  position: relative;
}

.counter-section .col-md-6:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 5px;
  height: 100%;
  background: #ff7328;
}

.counter-section .counter h2 {
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
}

.counter-section .counter h3,
.counter-section .counter p {
  font-size: 24px;
  color: #1a1a1a;
}

.counter-section .counter h4 {
  font-size: 55px;
  color: #ff7328;
  font-weight: bold;
}

.counter-section .counter p {
  margin-bottom: 0;
}

/* end counter section */

/* feature section */
.feature-section {
  padding: 80px 0;
}
.feature-section .box-intro h2 {
  text-align: center;
}
.feature-section .box-intro h4 {
  text-align: left;
  margin-left: 200px;
}
.feature-section.type01 .box-intro h2 {
  text-align: left;
}
.feature-section.type01 .box-intro h4 {
  margin-left: 0;
}
.feature-section.type01 .box-inner {
  margin-right: 200px;
  margin-left: 0;
}
.feature-section .box-inner {
  padding: 20px 30px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.16);
  margin-left: 200px;
}
.product-list .card {
  border: 0;
}
.product-list .card .card-body {
  text-align: center;
  padding: 10px;
}
.product-list .card .card-title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #656565;
  margin-bottom: 20px;
}
.product-list .card .btn {
  background: #ff7328;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 20px;
}
.product-list .card .btn i {
  padding-left: 20px;
}
/* end feature section */

/*Custom Owl Nav*/
.owl-prev {
  width: 24px;
  height: 48px;
  position: absolute;
  top: 40%;
  margin-left: 0px;
  display: block !important;
}

.owl-next {
  width: 24px;
  height: 48px;
  position: absolute;
  top: 40%;
  right: 0px;
  display: block !important;
}
.owl-prev i,
.owl-next i {
  transform: scale(3);
  color: #ff7328;
}
.owl-prev:hover,
.owl-next:hover {
  opacity: 0.7;
}
.owl-prev:focus,
.owl-next:focus {
  outline: none;
}

/* footer section*/

.footer-section {
  background: rgb(255, 186, 0);
  background: linear-gradient(
    245deg,
    rgba(255, 186, 0, 1) 0%,
    rgba(255, 91, 0, 1) 100%
  );
  padding: 50px 0;
}

.footer-section .container {
  width: 780px;
}

.footer-social {
  padding: 10px 0;
}

.footer-section .col-md-6:first-child {
  position: relative;
}

.footer-section .col-md-6:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 2px;
  height: 100%;
  background: #ffffff;
}

.footer-social h4 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.footer-social ul {
  text-align: center;
}

.footer-social ul li {
  display: inline-block;
}

.footer-social ul li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 99px;
}

.footer-social ul li a i {
  font-size: 20px;
}

.footer-link {
  margin-top: 40px;
}

.footer-link h4 {
  color: #ffffff;
  font-size: 19px;
}

.footer-link ul li a {
  color: #ffffff;
  font-size: 13px;
}

/* end footer section*/
